/* Устанавливаем цвет фона страницы */
* {
    background-color: ##dde8ff;
}

/* Устанавливаем цвет фона меню, убираем отступы */
.header-menu {
    min-height: 40px;
    background-color: #333333;
    margin: 0;
    margin-top: -20px;
    padding: 0;
}

/* "Ложим" список, убираем нумерацию */
.header-menu ul li {
    list-style: none;
    float: left;
}

/* Убираем стандартную подсветку гиперссылок, настраиваем шрифты, выравниваем по центру */
.header-menu ul li a {
    text-decoration: none;
    color: white;
    font-family: Arial, sans-serif;
    font-size: 16px;
    line-height: 40px;
    padding-right: 20px;
}

/* При наведении на ссылку цвет текста меняется на серый */
.header-menu a:hover {
    color: #bcbcbc;
}

/* Отступ контента от меню - 30 пикселей*/
.content {
    margin-top: 30px;
}

/* Отступ "футера" от контента - 30 пикселей */
.footer {
    margin-top: 30px;
    width: 100%;
    height: 50px;
    background: #333333;
}

/* Максимальная допустимая высота для alert's - 50 пикселей*/
.alert {
    max-height: 50px;
}

.alert-primary {
    margin-top: 20px;
    max-height: 50px;
}